html {
    background: #e3e3e3;
}

.flexed{
    display: flex;
    color: white;
    column-gap: 100px;
}

.format-f{
    max-width: 40%;
  }

.image-a{
    float: left;
    margin-left: 100px;
  }

.image-b{
    float: left;
    margin-left: 80px;
  }

.links{
    background: black;
    font-size: 1.3em;
    
  }

a[href="./resume.html"]{
    color:rgb(148, 254, 254);
    background: black;
    position: relative;
    margin-left: 700px;
    top: 50px;
}

.top{
    background: black;
}

.header{
    position: sticky;
    color: white;
    font-size: 4em;
}

.headera{
    position: absolute;
    margin-left: 650px;
    color: white;
    font-size: 2em;
}