.flexed{
    background: black;
    display: flex;
    color: white;
    justify-content: space-around;
    column-gap: 10px;
}

.format-f{
    background: #999;
    max-width: 30%;
  }

  .image-a{
    float: left;
    margin-left: 0px;
  }

  .image-b{
    float: left;
    margin-left: 0px;
  }