html {
    background: #e3e3e3;
}

.flexed{
    display: flex;
    color: white;
    column-gap: 600px;
}

.format-f{
    max-width: 40%;
  }

  .image-a{
    float: left;
    margin-left: 100px;
  }

  .image-b{
    float: left;
    margin-left: 100px;
  }